*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    background: #02070a;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 25%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-size: 20px;
}
.navbar{
    padding: 20px 100px;
   
}
.home{
    color: white;
    text-decoration: none ;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px ;
    transition:  transform 0.2s ;
}

.educ{
    color: white;
    text-decoration: none ;
    border: 2px solid transparent;
    font-weight: bold;
    padding:  10px 20px;
    border-radius: 10px ;
    transition:  transform 0.2s ;
}

.home:hover{
    background-color: red;
    box-shadow: 0 0 50px red;
    color: white;
}
.educ:hover{
    background-color: red;
    box-shadow: 0 0 50px red;
    color: white;
}
.contact:hover{
    background-color: red;
    box-shadow: 0 0 50px red;
    color: white;
    
}
.contact{
    color: white;
    text-decoration: none ;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 15px 10px;
    border-radius: 10px ;
    transition:  transform 0.2s ;

}
span{
color: red;
}
.content{
    position: absolute;
    top: 25%;
    left: 8%;
}
h2{
    color: white;
    margin: 20px 0px;
    font-size: 75px;
}
h1{
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
}
h3{
    
    color: white;
    letter-spacing: 5;
    font-size: 20px;
}