*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{
    --bg-color: #111111;
    --second-bg-color:#151515;
    --text-color:white;
    --main-color:#84fffb;
}
body{
    background: var(--bg-color);
    backdrop-filter: blur(10px);
}
.img .logo{
    width: 88px ;
    height: 80px ;
    border-radius: 25%;
}
.img .logo:hover{
    background-color: var(--main-color);
    box-shadow: 0 0 50px var(--main-color);
    color: white;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500px;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.navbar a:hover,
.navbar active:hover{
    color: darkcyan;
    transition: 0.3s ease-in-out;
    transform: scale(1.3)translateY(-5px);
    border-radius: 0rem;
}
.about{
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 10px;
    font-size: 16px;
    letter-spacing: 0cap;
    transition: 0.3s ease-in-out;
 

}
.about:hover{
    background-color: var(--main-color);
    box-shadow: 0 0 50px var(--main-color);
    color: white;
    transform: scale(-5px)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    
}
 .detail h1{
    color: white;

}
.detail{
    top: 170px;
    left: 50px;
    position: relative;
    
}
.detail h3{
    color: white;
}

footer, .push{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: 200px;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    font-family: Callunafont;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;
}
.footer-bottom{
    background: #000;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
@font-face {
    font-family: Callunafont;
    src: url(CallunaSans-Italic.otf);
}
html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
body {
    position:relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 6.74rem;
    box-sizing: inherit;
    overflow-x: hidden;
}