*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
    
}
body{
    background: black;
    backdrop-filter: blur(10px);
}
.img .logo{
    width: 88px ;
    height: 80px ;
    border-radius: 25%;
}
.img .logo:hover{
    background-color: red;
    box-shadow: 0 0 50px red;
    color: white;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500px;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover,
.navbar active:hover{
    color: darkcyan;
    border-bottom: 3px solid darkcyan;
}
.about{
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 10px;
    font-size: 16px;
    letter-spacing: 1px;
}
.about:hover{
    background-color: red;
    box-shadow: 0 0 50px red;
    color: white;
    
}
 .detail h1{
    color: white;

}
.detail{
    top: 170px;
    left: 50px;
    position: relative;
    
}
.detail h3{
    color: white;
}